:root{
    --black-color: black;
    --white-color: white;
}
body{
    margin: 0;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}