.head{
    width: 100%;
    margin-bottom: 8px;
    box-shadow: 0 2px 2px rgb(155, 154, 156);
    background-color: var(--white-color);
    z-index: 2;
    position: fixed;
    top: 0;
}
.head-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    justify-content: stretch;
}
#brand{
    position: relative;
    left: -150%;
    height: 50px;
    width: 50px;
    margin-right: 24px;
}
#search-bar {
    position: relative;
    width: 0%;
    height: 35px;
    transition: width 0.4s ease-in-out;
    border: 0px;
    left: -10%;
    padding-left: 5px;
    margin-left: 10px;
    border-left: 2px solid var(--bg-color);
  }
#icon-search{
    position: relative;
    left: -10%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: var(--bg-color);
}
.greeting{
    position: relative;
    left: -10%;
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 16px;
    border-left: 2px solid var(--bg-color);
    font-weight: 600;
}
.head-btngroup{
  position: relative;
  right: -75%;
  display: flex;
  flex-direction: row;
}
.btn{
    padding: 8px 16px;
    margin: 0px 8px;
    cursor: pointer;
    border-radius: 10px ;
}
.btn-login{
    border: 1px solid var(--black-color);
    color: var(--text-color);
    font-weight: 600;
}
.btn-register{
    background-color: var(--black-color);
    color: var(--white-color);
    font-weight: 600;
}
.btn-login:hover{
    background-color: var(--black-color);
    color: var(--white-color);
    font-weight: 600;
}
.btn-register:hover{
    color: var(--text-color);
    font-weight: 600;
    background-color: var(--white-color);
}
.register-drop{
    /* background-color: blue; */
    width: 100%;
    height: 0;
    transition: 0.3s;
    z-index: 1;
    overflow:hidden;
}
.close-btn{
    position: relative;
    top: 70px;
    left: 85%;
    font-size: 36px;
    margin-left: 50px;
    overflow: hidden;
    transition: 0.3s;
}
.drop-content{
    padding: 16px;
    width: 100%;
    height: 100%;
    margin: 70px 50px 0px 50px;
}