.head{
    width: 100%;
    margin-bottom: 8px;
    box-shadow: 0 2px 2px rgb(155, 154, 156);
    background-color: var(--white-color);
    z-index: 1;
    position: fixed;
    top: 0;
}
.head-container{
    width: 100%;
    position: relative ;
    left: -10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    justify-content: stretch;
}
#brand{
    height: 50px;
    width: 50px;
    margin-right: 24px;
}
#search-bar {
    width: 0%;
    height: 35px;
    transition: width 0.4s ease-in-out;
    border: 0px;
  }
#icon-search{
    height: 30px;
    width: 30px;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--bg-color);
}
.greeting{
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 16px;
    border-left: 2px solid var(--bg-color);
}
.head-btngroup{
  position: relative;
  left: 90%;
  display: flex;
  flex-direction: row;
}
.btn{
    padding: 8px 16px;
    margin: 0px 8px;
    cursor: pointer;
    border-radius: 10px ;
}
.btn-login{
    border: 1px solid var(--black-color);
    color: var(--text-color);
    font-weight: 600;
}
.btn-register{
    background-color: var(--black-color);
    color: var(--white-color);
    font-weight: 600;
}
.btn-login:hover{
    background-color: var(--black-color);
    color: var(--white-color);
    font-weight: 600;
}
.btn-register:hover{
    color: var(--text-color);
    font-weight: 600;
    background-color: var(--white-color);
}