.ad-banner{
    width: 100%;
    height: 100px;
    z-index: 0;
    overflow: hidden;
}
.main{
    width: 100%;
    margin-top: 100px;
}
.main-container{
    margin: 8px 150px;
}
.trending-bar{
    padding: 8px 8px;
    background-color: rgb(214, 211, 211);
    border-radius: 10px;
}
.trend-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.trend-label{
    color: rgb(243, 70, 156);
    font-weight: 700;
    text-decoration: underline;
}
.trend-content a:hover{
    text-decoration: underline;
}
aside{
    font-size: 13;
    line-height: 18px;
    margin: 16px 16px;
}